.container
  .page-header
    = link_to "Edit Winery Information", edit_winery_path(@winery), class: "btn btn-danger pull-right"
    = link_to "Delete", wineries_path, method: :delete, data: {confirm: "Are you sure"}
    %h1
      = @winery.winery_name
    = link_to "Go Back", wineries_path, class: "btn btn-primary pull-right"
    %h4
      = "#{@winery.rating} Stars out of 10"
